@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/homebg.jpg');
	background-color: rgb(127, 195, 212);
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.contextHeader {
	font-weight: 400;
}


.homeT{
	margin: auto;
	color: white;
	font-size: 25px;
	
}
.homeT td{
	border: 0.1px solid grey;
	border-left: none;
	border-top: none;
	border-bottom: none;
}


.iconTable{
	margin: auto;
}

.iconTable img{
	width: 50px;
	height: 50px;
}

.buttontable{ 
	border-collapse:separate; 
	border-spacing: 0 60px; 
	} 

.datatable{
	margin: auto;
	color: rgb(48, 39, 95);
	border-spacing: 0 30px;
}
.datatable td{
	border: 0.1px solid black;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

