@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/homebg2.jpg');
	background-color: rgb(127, 195, 212);
	color:white;
	width: 414px;
	height: 736px;
	text-align: center;
	
	margin: 0 auto;
}

.contextHeader {
	font-weight: 400;
}


.homeT{
	margin: auto;
	color: rgb(0, 0, 0);
	font-size: 45px;
	
}
.homeT td{
	border: 0.1px solid grey;
	border-left: none;
	border-top: none;
	border-bottom: none;
}


.iconTable{
	margin: auto;
	
}

.iconTable img{
	width: 50px;
	height: 50px;
}

.buttontable{ 
	border-collapse:separate; 
	border-spacing: 0 30px; 
	margin: auto;
	}

button{
	margin: auto;
}

.datatable{
	margin: auto;
	color: rgb(0, 0, 0);
	border-spacing: 0 30px;
}
.datatable td{
	border: 0.1px solid black;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.iconbutton img{
	width: 60px;
	height: 60px;
}
.iconbuttonSettings button{
	float: left;
	background-color: transparent;
	border: none;
}
.iconbuttonSettings img{
	width: 25px;
	height: 25px;
}

.iconbutton{
	background-color: transparent;
	border: none;
	margin: auto;
}

h1, h2, h5, hr{
	color:black;
	background-color: red;
}

h3{
	color: rgb(0, 0, 0);
	font-size: 30px;
}

p{
	color: red;
}


.datatable{
	margin: auto;
	color: rgb(48, 39, 95);
	border-spacing: 0 30px;
}
.datatable td{
	border: 0.1px solid black;
	border-left: none;
	border-top: none;
	border-bottom: none;
}
.adviceTable{
	text-align: left;
	border: none;
	color: black;
	font-size: 10px;
}

.adviceTable h3{
	text-align: center;
	color: red;
	font-size: 10px;
}

.buttontable th{
	padding: 0px 15px 0px 15px ;
	
	
}

.tempTable{
	border: 0.1px solid black;
	text-align: center;
	margin: auto;
	
}

.tempTable th {
	border: 0.1px solid black;
	border-left: none;
	border-top: none;
	border-right: none;
}


